body{
    background-color:rgb(241, 250, 220);
}
span.demo{
    width: 105px;
    text-align: justify;
    float: left;
}

span.demo:after{
    content: '.';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
}

input.text{
    width: 200px;
}